.moderationTapeManualItem {
    &.blue > .hotKey:before {
        background-color: var(--blue);
    }

    &.green > .hotKey:before {
        background-color: var(--green);
    }

    &.orange > .hotKey:before {
        background-color: var(--orange);
    }

    & > .action {
        margin-right: .5rem;
        color: var(--black);
    }

    & > .hotKey {
        position: relative;
        padding-left: 1rem;

        &:before {
            position: absolute;
            top: 50%;
            left: 0;

            width: .5rem;
            height: .5rem;

            border-radius: 50%;

            transform: translateY(-50%);

            will-change: transform;

            content: '';
        }
    }
}
